<div class="recipe-card" *ngIf="this.currentRecipe">
    <div class="recipe-details">
      <h2>Recipe Details</h2>
      <p><strong>Name:</strong> {{this.currentRecipe.name}}</p>
      <p><strong>Category:</strong> {{this.currentRecipe.category}}</p>
      <p><strong>Ingredients:</strong>{{ this.currentRecipe.ingredients }}</p>
      <p><strong>Instructions:</strong>{{ this.currentRecipe.preparation }}</p>
      <div *ngIf="this.firebaseService.isLoggedIn">
        <button class="favorites-button" (click)="toggleFavorite()">{{toggleFavoritesText}}</button>
      </div>
      <div *ngIf="this.firebaseService.isLoggedIn">
        <button class="favorites-button" (click)="deleteRecipe()">Delete Recipe</button>
      </div>
    </div>
    <div class="card-media">
      <img src="{{this.currentRecipe.imageUrl}}">
    </div>


  </div>
  