:host {
  min-height: 100vh;
  background-color: transparent;
  background-image: url('../../assets/louis-hansel-yLUvnCFI500-unsplash.jpg');
  background-image: linear-gradient(rgba(0,0,0,0.7));
  background-size: cover;
  background-position: center;
  opacity: 0.6;
  width: 100%;
}