:host {
  min-height: 100vh;
  background-color: transparent;
  background-image: url('../../assets/backgroundDark.jpg');
  background-image: linear-gradient(rgba(0,0,0,0.7));
  background-size: cover;
  background-position: center;
  width: 100%;
}

 div{
    display: flex;
    align-items: center;
    justify-content: center;
 }